{% extends 'app_gestion_coches/base.html' %}
{% block titulo %}Lista de Clientes{% endblock %}
{% block contenido %}
    <h1>Clientes</h1>
    <p><a href="{% url 'nuevo_cliente' %}" class="btn">Añadir nuevo cliente</a></p>
    
    {% if clientes %}
        {% for cliente in clientes %}
        <div class="item-list">
            <h3><a href="{% url 'detalle_cliente' cliente.id %}">{{ cliente.nombre }}</a></h3>
            <p>Teléfono: {{ cliente.telefono }}</p>
            <p>Email: {{ cliente.email }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>No hay clientes registrados.</p>
    {% endif %}
{% endblock %}